@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}
body{
    display: flex;
    flex-direction: column;
 max-width: 100vw;
 min-height: fit-content;
 font-size: 16px;
 font-family: 'alata';
}

header{
display: flex;
flex-direction: column;
background-image: linear-gradient(to bottom, hsla(0, 0%, 0%, 0.116), hsla(0, 0%, 0%, 0.582)), url(./assets/desktop/image-hero.jpg) ;
background-repeat: no-repeat;
background-size: cover;
height: 60rem;
color: hsl(0, 0%, 100%);
padding: 5rem 10rem;
gap: 10rem;
}
nav{
display: flex;
justify-content: space-between;
}

/* desk-nav */
nav ul{
    display: flex;
    list-style: none;
    gap: 3rem;
}

/* mobile-nav */
.nav-2{
    display: none;
}

.Ham{
    display: none;
}
li,button{
    cursor: pointer;
}
li{
    padding: 1rem 0;
    position: relative;  /* Add this */
}
li:hover{
    &::after {
        content: '';
        position: absolute;
        left: 25%;
        bottom: 0.5rem;
        width: 50%;
        height: 1.5px;
        background-color: white;
    }
}
.head-text{
  width: 60%;
  border: 2px solid;
  padding: 3rem 4rem;
  overflow: hidden;
}
h1{
      font-size: 5rem;
      font-family: Josefin Sans;
      text-transform: uppercase;
      font-weight: 300;
}
h2{
    font-size: 4rem;
    font-family: Josefin Sans;
    font-weight: 300;
    text-transform: uppercase;
}
h3{
    font-size: 2rem;
    width: 60%;
    font-family: Josefin Sans;
    font-weight: 300;
    text-transform: uppercase;
    margin: 3.5rem 3rem;
    padding: 0 0.5rem;
    position: absolute
}
p{
    color: hsl(0, 0%, 60%);
}

/* section-one */

.sec-1{
    display: flex;
    position: relative;
    height: fit-content;
    padding: 10rem;
}

.sec-1-img{
    width: 100%;
    position: relative;
}

.sec-1-img img{
    width: 55%;
    height: auto;
}

.sec-1-text{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: absolute;
    width: 40%;
    background-color: hsl(0, 0%, 100%);
    padding: 6rem;
    right: 16%;
    bottom: 7%;
}

/* section-two */

.sec-2{
display: flex;
flex-direction: column;
 padding: 0rem 10rem;
 gap: 5rem;

}
.sec-2-head{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase; 
    height: fit-content;
    font-size: 2rem;
    align-items: center;
}
.sec-2-head,button{
    font-weight: 300; 
    font-family: Josefin Sans;
    text-transform: uppercase;
}

.btn-first{
    padding: 1rem 3rem ;
    background-color: hsl(0, 0%, 100%);
     font-weight: 400;
     font-family: alata;
     letter-spacing: 0.5rem;
}
.btn-first:hover{
    background: black;
    color: white;
}

.sec-2-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 40rem 40rem;
    gap: 3rem;

}
.sec-2-main > div{
    display: flex;
    align-items: end;
    background-repeat: no-repeat;
    background-size: cover;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;
}

.sec-2-main > div:hover{
    color: black;
}

.sec-2-main > div:hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 100%, 0.7);
}
.deep{
background: linear-gradient(to bottom, hsla(0, 0%, 0%, 0), 40%, hsla(0, 0%, 0%, 0.678) 90%), url(./assets/desktop/image-deep-earth.jpg);
}
.arcade{
background: linear-gradient(to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.678) 90%), url(./assets/desktop/image-night-arcade.jpg);
}
.Soccer{
background: linear-gradient(to bottom, hsla(0, 0%, 0%, 0.048), hsla(0, 0%, 0%, 0.678) 90%), url(./assets/desktop/image-soccer-team.jpg);
}
.grid{
background: linear-gradient(to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.678) 90%), url(./assets/desktop/image-grid.jpg);
}
.above{
background: linear-gradient(to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.678) 90%), url(./assets/desktop/image-from-above.jpg);
}
.pocket{
background: linear-gradient(to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.678) 90%), url(./assets/desktop/image-pocket-borealis.jpg);
}
.curious{
    background:linear-gradient(to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.678) 90%), url(./assets/desktop/image-curiosity.jpg);
}
.fish{
    background:linear-gradient(to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.678) 90%    ), url(./assets/desktop/image-fisheye.jpg);
}

.btn-second{
    display: none;
}


footer{

    display: flex;
    flex-direction: column;
    position: relative;
    background: black;
    color: white;
    padding: 3rem 10rem;
    margin-top: 15rem;
    gap: 2rem;
}

.contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.foot-l{
    display: flex;
}

.foot-l svg path{
    transform: scale(0.8);
}
.social{
display: flex;
gap: 1.2rem;
}

.s-effect{
    cursor: pointer;
    position: relative;
    transition: all;
}

.s-effect:hover{
    &::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 1.5px;
    bottom: -20%;
    left: 1%;
    background-color: white;
    }
}
.social-2 {
    display: none;
}
.list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list ul{
    display: flex;
    gap: 3rem;
    list-style: none;
}




@media (orientation: portrait) {

body{
    display: flex;
    flex-direction: column;
 max-width: 100vw;
 min-height: fit-content;
 font-size: 16px;
 font-family: 'alata';
}
  header{
display: flex;
flex-direction: column;
background-image: linear-gradient(to bottom, hsla(0, 0%, 0%, 0.096), hsla(0, 0%, 0%, 0.644)), url(./assets/mobile/image-hero.jpg) ;
background-repeat: no-repeat;
background-size: cover;
height: 55rem;
color: hsl(0, 0%, 100%);
padding: 4rem 2rem ;
gap: 12rem;
}
nav{
display: flex;
align-items: center;
justify-content: space-between;
}
.Ham{
    display: block;
    cursor: pointer;
}
nav ul {
    display: none;
}
.nav-2{
    display: none;
    flex-direction: column;
    list-style: none;
    z-index: 1;
    width: 100%; 
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    background-color: black;
    color: white;
    gap : 7rem;
    padding: 1.5rem; 

}
.nav-2 ul{
    display: flex;
    flex-direction: column; 
    list-style: none;
    font-family: Josefin Sans;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 200;
}
.nav-2 ul li{
    padding: 0.6rem;
}
.logo-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-2a path{
    transform: scale(0.7);
}

.head-text{
  width: 100%;
  border: 2px solid;
  padding: 3rem 2rem;
  overflow: hidden;
}
h1{
      font-size: 2.2rem;
      font-family: Josefin Sans;
      text-transform: uppercase;
      font-weight: 300;
}
h2{
    font-size: 2rem;
    font-family: Josefin Sans;
    font-weight: 300;
    text-transform: uppercase;
}
h3{
    font-size: 1.2rem;
    width: 60%;
    font-family: Josefin Sans;
    font-weight: 300;
    text-transform: uppercase;
    top: 6%;
    left: -9%;
    padding: 0 0.8rem;
    position: absolute
}
p{
    color: hsl(0, 0%, 60%);
    font-size: 1rem;
}
 

/* section-one */

.sec-1{
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 6rem 2rem;
    gap: 6rem;
}

.sec-1-img{
    width: 100%;
    position: relative;
}

.sec-1-img img{
    width: 100%;
    height: auto;
}

.sec-1-text{
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    gap: 2rem;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: hsl(0, 0%, 100%);
    padding: 0 1rem;
    text-align: justify;
}

.btn-first{
    display: none;
}


/* section-two */

.sec-2{
display: flex;
flex-direction: column;
 padding: 0rem 2rem;
 gap: 5rem;

}

.sec-2-head{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-transform: uppercase; 
    height: fit-content;
    font-size: 2rem;
    align-items: center;
}

.sec-2-main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 8.5rem 8.5rem 8.5rem 8.5rem 8.5rem 8.5rem 8.5rem 8.5rem;
    gap: 3rem;

}

.sec-2-main > div{
    display: flex;
    align-items: end;
    background-repeat: no-repeat;
    background-size: cover;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;
}

.deep{
background: linear-gradient(to bottom, hsla(0, 0%, 0%, 0), 40%, hsla(0, 0%, 0%, 0.678) 90%), url(./assets/mobile/image-deep-earth.jpg);
}
.arcade{
background: linear-gradient(to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.678) 90%), url(./assets/mobile/image-night-arcade.jpg);
}
.Soccer{
background: linear-gradient(to bottom, hsla(0, 0%, 0%, 0.048), hsla(0, 0%, 0%, 0.678) 90%), url(./assets/mobile/image-soccer-team.jpg);
}
.grid{
background: linear-gradient(to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.678) 90%), url(./assets/mobile/image-grid.jpg);
}
.above{
background: linear-gradient(to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.678) 90%), url(./assets/mobile/image-from-above.jpg);
}
.pocket{
background: linear-gradient(to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.678) 90%), url(./assets/mobile/image-pocket-borealis.jpg);
}
.curious{
    background:linear-gradient(to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.678) 90%), url(./assets/mobile/image-curiosity.jpg);
}
.fish{
    background:linear-gradient(to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.678) 90%    ), url(./assets/mobile/image-fisheye.jpg);
}

.btn-second{
    display: block;
    width: 70%;
    margin: auto;
     padding: 1rem 3rem ;
    background-color: hsl(0, 0%, 100%);
     font-weight: 400;
     font-family: alata;
     letter-spacing: 0.5rem;
}

.btn-second:hover{
    background: black;
    color: white;
}

/* footer */

footer{

    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    background: black;
    color: white;
    padding: 3rem 2rem;
    margin-top: 7rem;
    gap: 1.5rem;
}

.contact{
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot-l svg{
    display: flex;
    
}
.foot-l svg path{
    transform: scale(1);
    text-align: center;
}
.social{
display: none;
}

.social{
display: none;
}


.social-2 {
    display: flex;
    gap: 1.2rem;
    margin-top: 1rem;
}

.list{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.list ul{
    display: flex;
    flex-direction: column;
    gap: 0;
    list-style: none;

}



}








